body {

    margin: 0 auto;
    max-width:  90vw;
}
header h1 {
    text-align: center;
    height: 5vh;
}
main {
   margin: 0 auto;
    overflow: hidden;
}
main img {
    display: block;
    margin: 0 auto;
    margin: 2vh auto;
}
footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content:center;

}

footer p {
    margin: 10px;

    font-weight: bolder;
    color: black;
}