@font-face {
    font-family: 'Sohne'; /* Nombre de la fuente */
    src: url('fonts/sohne-font-family') format('opentype'); /* Ruta a la fuente */
    /* Puedes agregar más estilos para diferentes pesos o estilos si tienes archivos adicionales de la fuente */
}
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    
}

body {
    /* background-color: bisque; */
    font-family: 'Sohne', sans-serif;
    width: 100%;
}
.width {
    max-width: 90vw;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    height: 8vh;
    position: relative;
    align-items: center;
}

nav ul {
	list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    color: #080808;
	text-align: center;
	padding: 0 1rem;
	text-decoration: none;
    font-size: .905rem;
    line-height: 130%;
    letter-spacing: .0025em;
    font-weight: 400;
}

nav a:hover {
	text-decoration:underline;
}
.logo {
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.search {
    display: none;
}
.search input {
    position: relative;
    height: 100%;
    width: 15vw;
    border-radius: 20px;
    border: 1px solid #d2d2d2;
    padding: 0 16px;
    line-height: 40px;
} 
.search button {
    position: absolute;
    cursor: pointer;
    height: fit-content;
    background: none;
    border: none;
    border-left: 1px solid #d2d2d2;
    top: 50%;
    right: 10%; /* Ajusta la distancia del borde derecho según sea necesario */
    transform: translateY(-50%);
}
.search button img {
    padding-left: 5px; /* Ajusta el valor según la distancia deseada */
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 768px) {
    .navigation {
        display: block; 
        max-height: 0; /* Start with 0 height */
        overflow: hidden; /* Hide overflow */
        list-style: none;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 4rem; 
        right: 0;
        left: 0;
        z-index: 10; 
        transition: max-height 0.3s ease; /* Transition for max-height */
    }
    
    .navigation.open {
        max-height: 200px; /* Adjust height to fit your content */
    }
    
    .navigation li {
        text-align: center;
        margin-bottom: 0.5rem;
    }
    
    .navigation a {
        padding: 10px 0;
        text-decoration: underline;
        /* background-color: aqua; */
    }
    
    .navigation a:hover {
        background-color: #b70909;
        color: #333;
        font-weight: bold;
    }
    
    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 1rem;
        right: 1rem;
        /* z-index: 5;  */
    }
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "x";
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.principal {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: aqua;
    height: 72vh;
    width: 90vw;
    margin: 6vh auto;
    z-index: 1; 
}
.principal img:hover {
    transform: scale(1.01); /* Ajusta el valor para un mayor o menor acercamiento */
    box-shadow: 0px 44px 41px 13px rgba(230, 189, 217, 0.761);

}
.principal img {
    width: 95vw;
    height: 72vh;
    border-radius: 8px;
    position: absolute;
    top: 0;
    transition: transform 0.9s ease, box-shadow 0.9s ease;
    z-index: 1;
    object-fit: cover;

}
.principal-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}
.principal-text h1 {
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: -.02em;
    font-weight: 400;
    
}

.principal-text p {
    display: none;
    font-size: 2vh; 
    font-weight: 400;
    line-height: 150%;
    text-align: justify;
}
.principal-text button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #d2d2d2; 
    border-radius: 20px;
    cursor: pointer;
    font-size: 2vh;  
    font-weight: 500;
    line-height: 150%;
    white-space: nowrap;
  
}

.separation {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top {
    margin-top: 12vh;
}
.carousel-section {
    position:relative;
    padding: 0 0 0 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 8vh;
    margin: 0 auto;
    
}  
.carousel-button h2 {
    font-size: 1.9rem; 
    /* white-space: nowrap; */
    font-weight: 400;
}

.carousel-container {
    width: 100%;/* Ajusta según sea necesario */
    margin: 0 auto;  
    margin-right: 0;
    /* overflow: hidden; */
}
.carousel-group {
    display: none;
}
.carousel,
.carousel-stories  {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Para un desplazamiento suave en dispositivos móviles */
}
 
.card {
    flex: 0 0 auto;
    height: 470px; /* Ajusta el ancho de las tarjetas según sea necesario */
    width: 353px;
    margin-right: 10px; /* Espaciado entre las tarjetas */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start; /*no se para que es*/
    overflow: hidden;
    position: relative; 
    background-color: gainsboro;
}
.cardS {
    margin-top: 10px;
    width: 400px;
    height: 370px;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    z-index: 1;
}
.card-definition {
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* pointer-events: none; */
    padding: 12px;
    right: 0;
    left: 0;
    font-size: 1.125rem;
    font-weight: 500;
    /* overflow: hidden; */
}
.card-definition h3 {
    color: white;
    font-size: 1.125rem; /* Ajusta el tamaño de fuente según sea necesario */
    font-weight: 500; /* Ajusta el peso de la fuente según sea necesario */
}
.card-definition p {
    color: white;

}
.card img:hover {
    transform: scale(1.05); /* Zoom al pasar el mouse */
}



.carousel,
.carousel-stories {
    /* oculta la barra de desplazamiento */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.prev, .next,
.prevS, .nextS  {
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    background: none;
        
}



.rating-definition {
    align-items: center;
    /* height: 800px; */
}
.rating-definition p {
    text-align: justify;
    font-size: 1.125rem; 
    font-weight: 400;
    line-height: 150%;
    color: #282828;
}
.rating-definition h3 {
    align-self: center;
    font-size: 1.4175rem; 
    font-weight: 400;
    color: #000000;
    
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
}
.checked {
    color:  black;
  }


.event-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 12vh auto;
}

.weather{
    width: 100%;
    /* height: 100%; */
    /* background-color: aqua; */
    /* object-fit: cover; */
}
.weather h3{
    font-size: 1.4175rem; 
    margin: 10px 0;
    font-weight: 400;
    /* background-color: #080808; */
}


/* Estilos ficticios para el clima */
.fake-weather {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* max-height: 100%; */
    /* overflow: auto; */
    /* background-color: yellow; */
}

.fake-weather p {
    margin: 5px 0;
}

.fake-weather strong {
    font-weight: bold;
}

.event {
    display: flex;
    flex-direction: column;
    padding: 0 12px ;
    background-color: rgba(0, 0, 0, 0.106);
    border-radius: 8px;
}
.event h3 {
    font-size: 1.4175rem; 
    margin: 10px 0;
    font-weight: 400;
    top: 0;
}
.event-widget p {
    border-top: 1px solid rgb(99, 99, 99);
    margin-top: 5px;
}
.event-widget {
    text-align: justify;
    font-size: 1.125rem; 
    font-weight: 400;
    line-height: 150%;
    height: 100%;
}
.event-widget p span {
    font-weight: 300;
    text-decoration: underline;
}
@media (max-width: 600px) {
    .carousel-button h2 {
        font-size: 1.3rem; /* Ajusta el tamaño de fuente para pantallas pequeñas */
        font-weight: 400; /* Ajusta el peso de la fuente si es necesario */
    }
    .carousel-section {
        padding-left: 20px;
    }
    .principal-text h1 {
        font-size: 1.5rem;
        
    }
    .card {
        height: 50vh; /* Ajusta el ancho de las tarjetas según sea necesario */
        width: 80vw;
    }
    .cardS {
        width: 80vw;
        height: 60vh;
    overflow: visible;

    }
    
    .rating-definition p {
        text-align: justify;
        font-size: 1rem; 
        font-weight: 400;
        line-height: 150%;
        color: #282828;
    }
    .rating-definition h3 {
        align-self: center;
        font-size: 1.1rem; 
        font-weight: 400;
        color: #000000;
        
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */

}

footer p {
    margin: 10px;

    font-weight: bolder;
    color: black;
}
/* Estilos generales para el footer */


.footer-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo img {
    max-width: 100px;
    margin-bottom: 10px;
}

.footer-info p {
    margin: 5px 0;
    font-size: 1rem;
    line-height: 1.5rem;
}


/* Responsive adjustments */
@media (min-width: 600px) {
    .footer-extra {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-info {
        text-align: left;
        margin-left: 20px;
    }

    .footer-logo, .footer-info {
        margin: 10px 20px;
    }
}
/* ///////////////////////////////////////////////////////DISCOVER.HTML//////////////////////////////////////////////////////////////// */

main {
    /* background-color: antiquewhite; */
}
.container {
    /* background-color: #b70909; */
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;


}
.container h1 {
    grid-column: 1/2;
    text-align: center;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: -.02em;
    font-weight: 400;
}
/* /////////////////SIDEBAR////////////////////////// */
.sidebar {
    order: 2;
}
#container {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    /* background-color: #b70909; */
  }
/* /////////////////SIDEBAR////////////////////////// */
.main-content {
    order: 1;
    /* background-color: aqua; */
}
.image-gallery {
    display: grid;
}
#top_x_div {
    background-color: aqua;
}