@font-face {
    font-family: 'Sohne'; /* Nombre de la fuente */
    src: url('fonts/sohne-font-family') format('opentype'); /* Ruta a la fuente */
    /* Puedes agregar más estilos para diferentes pesos o estilos si tienes archivos adicionales de la fuente */
}
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    
}

body {
    /* background-color: bisque; */
    font-family: 'Sohne', sans-serif;
    width: 100%;
}
.width {
    max-width: 90vw;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    height: 8vh;
    position: relative;
    align-items: center;
}

nav ul {
	list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    color: #080808;
	text-align: center;
	padding: 0 1rem;
	text-decoration: none;
    font-size: .905rem;
    line-height: 130%;
    letter-spacing: .0025em;
    font-weight: 400;
}

nav a:hover {
	text-decoration:underline;
}
.logo {
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.search {
    display: none;
}
.search input {
    position: relative;
    height: 100%;
    width: 15vw;
    border-radius: 20px;
    border: 1px solid #d2d2d2;
    padding: 0 16px;
    line-height: 40px;
} 
.search button {
    position: absolute;
    cursor: pointer;
    height: fit-content;
    background: none;
    border: none;
    border-left: 1px solid #d2d2d2;
    top: 50%;
    right: 10%; /* Ajusta la distancia del borde derecho según sea necesario */
    transform: translateY(-50%);
}
.search button img {
    padding-left: 5px; /* Ajusta el valor según la distancia deseada */
}
.promo-banner {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #ffeb3b; /* Color de fondo */
    color: #000; /* Color del texto */
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: .9rem;
    min-height: 10vh;
    text-align: center;
    border-bottom: 1px solid #ccc;
    z-index: 1000; /* Asegúrate de que el banner esté sobre otros elementos */
}

.close-banner {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;

}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 768px) {
    .navigation {
        display: block; 
        max-height: 0; /* Start with 0 height */
        overflow: hidden; /* Hide overflow */
        list-style: none;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 4rem; 
        right: 0;
        left: 0;
        z-index: 10; 
        transition: max-height 0.3s ease; /* Transition for max-height */
    }
    
    .navigation.open {
        max-height: 200px; /* Adjust height to fit your content */
    }
    
    .navigation li {
        text-align: center;
        margin-bottom: 0.5rem;
    }
    
    .navigation a {
        padding: 10px 0;
        text-decoration: underline;
        /* background-color: aqua; */
    }
    
    .navigation a:hover {
        /* background-color: #b70909; */
        color: #333;
        font-weight: bold;
    }
    
    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 1rem;
        right: 1rem;
        /* z-index: 5;  */
    }
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "x";
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.principal {
    display: flex;
    justify-content: center;
    position: relative;
    /* background-color: aqua; */
    height: 72vh;
    width: 90vw;
    margin: 6vh auto;
    z-index: 1; 
}
.principal img:hover {
    transform: scale(1.01); /* Ajusta el valor para un mayor o menor acercamiento */
    box-shadow: 0px 44px 41px 13px rgba(230, 189, 217, 0.761);

}
.principal img {
    width: 95vw;
    height: 72vh;
    border-radius: 8px;
    /* position: absolute; */
    /* top: 0; */
    transition: transform 0.9s ease, box-shadow 0.9s ease;
    /* z-index: 1; */
    object-fit: cover;

}
.principal-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}
.principal-text h1 {
    
    line-height: 100%;
    letter-spacing: -.02em;
    font-size: 2rem;
    font-weight: 350;
    
}

.principal-text p {
    display: none;
    font-size: 2vh; 
    font-weight: 300;
    line-height: 150%;
    text-align: justify;
}
.principal-text button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #d2d2d2; 
    border-radius: 20px;
    cursor: pointer;
    color: #000;
    font-size: 2vh;  
    font-weight: 300;
    line-height: 150%;
    white-space: nowrap;
    text-decoration: none;
  
}


.separation {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top {
    margin-top: 12vh;
}
.carousel-section {
    position:relative;
    padding: 0 0 0 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 8vh;
    margin: 0 auto;
    
}  
.carousel-button h2 {
    font-size: 1.9rem; 
    /* white-space: nowrap; */
    font-weight: 400;
}

.carousel-container {
    width: 100%;/* Ajusta según sea necesario */
    margin: 0 auto;  
    margin-right: 0;
}
.carousel-group {
    display: none;
}
.carousel,
.carousel-stories  {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Para un desplazamiento suave en dispositivos móviles */
}
 
.card {
    flex: 0 0 auto;
    height: 470px; /* Ajusta el ancho de las tarjetas según sea necesario */
    width: 353px;
    margin: 0 auto;/* Espaciado entre las tarjetas */
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start; /*no se para que es*/
    overflow: hidden;
    position: relative; 
    background-image: url(../images/ad.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cardS {
    margin-top: 10px;
    width: 400px;
    height: 370px;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    z-index: 1;
}
.card-definition {
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    right: 0;
    left: 0;
    font-size: 1.125rem;
    font-weight: 500;
}
.card-definition h3 {
    color: white;
    font-size: 1.125rem; /* Ajusta el tamaño de fuente según sea necesario */
    font-weight: 500; /* Ajusta el peso de la fuente según sea necesario */
}
.card-definition p {
    color: white;

}
.card img:hover {
    transform: scale(1.05); /* Zoom al pasar el mouse */
}



.carousel,
.carousel-stories {
    /* oculta la barra de desplazamiento */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.prev, .next,
.prevS, .nextS  {
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    background: none;
        
}



.rating-definition {
    align-items: center;
    /* height: 800px; */
}
.rating-definition p {
    text-align: justify;
    font-size: 1.125rem; 
    font-weight: 380;
    line-height: 150%;
    color: #000000;
    
}
.rating-definition h3 {
    align-self: center;
    font-size: 2.5rem; 
    font-weight: 300;
    color: #000000;
    
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
}
.checked {
    color:  black;
  }


.event-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 12vh auto;
}

.weather{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    background-image: url(../images/weatherbg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}
#weather {
    margin: 40px 10px 10px 10px;
    border-radius: .2rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.411);
}
.weather > h3:first-of-type{
    font-size: 1.5rem; 
    padding: 15px 0 0 15px;
    font-weight: 300;
}
.weather-img {
    width: 100px;
    height: auto;
}
.weather-temperature {
    text-align: center;
    margin-bottom: 10px;
}
.forecasth3 {
    font-size: 1.5rem; 
    padding: 15px 0 ;
    font-weight: 300;
    text-align: center;
}
.forecast1 {
    font-size: 1rem;
}
/* Estilos ficticios para el clima */

.event {
    display: flex;
    flex-direction: column;
    padding: 0 12px ;
    background-color: rgba(0, 0, 0, 0.106);
    border-radius: 8px;
}
.event h3 {
    font-size: 1.4175rem; 
    margin: 10px 0;
    font-weight: 400;
    top: 0;
}
.event-widget p {
    border-top: 1px solid rgb(99, 99, 99);
    margin-top: 5px;
}
.event-widget {
    text-align: justify;
    font-size: 1.125rem; 
    font-weight: 400;
    line-height: 150%;
    height: 100%;
}
.event-widget p span {
    font-weight: 300;
    text-decoration: underline;
}
@media (max-width: 600px) {
    .carousel-button h2 {
        font-size: 1.3rem; /* Ajusta el tamaño de fuente para pantallas pequeñas */
        font-weight: 400; /* Ajusta el peso de la fuente si es necesario */
    }
    .carousel {
        display: flex;
    }
    .carousel-section {
        padding-left: 0;
    }
    /* .principal-text h1 {
        font-size: 1.5rem;
        
    } */
    .card {
        height: 50vh; /* Ajusta el ancho de las tarjetas según sea necesario */
        width: 80vw;
    }
    .cardS {
        width: 80vw;
        height: 60vh;
    overflow: visible;

    }
    
    .rating-definition p {
        text-align: justify;
        font-size: 1rem; 
        font-weight: 400;
        line-height: 150%;
        color: #282828;
    }
    .rating-definition h3 {
        align-self: center;
        font-size: 1.1rem; 
        font-weight: 400;
        color: #000000;
        
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;

}

footer p {
    margin: 10px;

    font-weight: bolder;
    color: black;
}
/* Estilos generales para el footer */


.footer-extra {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo img {
    max-width: 100px;
    margin-bottom: 10px;
}

.footer-info p {
    margin: 5px 0;
    font-size: 1rem;
    line-height: 1.5rem;
}


/* Responsive adjustments */
@media (min-width: 600px) {
    .footer-extra {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-info {
        text-align: left;
        margin-left: 20px;
    }

    .footer-logo, .footer-info {
        margin: 10px 20px;
    }
}
/* ///////////////////////////////////////////////////////DISCOVER.HTML//////////////////////////////////////////////////////////////// */

.container {
    margin: 12vh auto;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    width: 100%;



}
.container h1 {
    grid-column: 1/2;
    text-align: center;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: -.02em;
    font-weight: 400;
}
/* /////////////////SIDEBAR////////////////////////// */
.sidebar {
    order: 2;
    height: fit-content;
    display: grid;
    gap: 20px;


}
.chart-div {
    background-color: rgba(0, 0, 0, 0.123);
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 8px;
}
#myChart {
    width: 100%;
    height: 100%;
    
}

.events-container {
    background-color: rgba(0, 0, 0, 0.123);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
}

.events-container h2 {
    font-size: 1.5rem; 
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -.02em;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
    color: #333333;
}

.event {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    
}

.event h3 {
    font-size: 1.3rem; 
    font-weight: 400;
    margin-top: 0;
    color: #444444;
}

.event p {
    font-size: 1.125rem; 
    font-weight: 400;
    margin: 5px 0;
    color: #4e4e4e;
}

.localStorage {
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    text-align: center;
}
/* h2 */
#visitMessage {
    font-size: 1.5rem; 
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -.02em;
    font-weight: 400;

}
iframe {
    width: 100%;
    border-radius: 8px;
}


/* /////////////////SIDEBAR////////////////////////// */
.main-content {
    order: 1;
    display: grid;
    gap: 30px;
    width: 100%;
}

.hero {
    height: fit-content;
    width: 80%;
    margin: 0 auto;
}
.hero h2 {
    font-size: 1.5rem; 
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -.02em;
    height: 10%;
    padding: 20px;
    text-align: center;
}
.hero p {
    height: 40%;
    padding: 10px 0;
    text-align: justify;
    font-size: 1.125rem; 
    font-weight: 400;
    line-height: 150%;
}
.zoom-effect {
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-radius: 8px;

}

.zoom-img {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-out;
}

/* //////////////////////////////JOIN////////////////////////////////////////////////////////////////////////////// */

.main-join {
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.join-form {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 2%;

    /* height: 400px;    */
}
.membership {
    grid-row: 2/3;
    /* background-color: gray; */
    /* height: 200px; */
    padding-top: 2%;
    display: grid;
    grid-template-rows: auto auto;
}
.membership h2 {
    /* background-color: aqua; */
    font-size: 2em;
    margin: 0.67em 0;
}

.level {
    width: 100%;
    height: 30vh;
    /* max-height: fit-content; */
    /* margin: 0; */
    /* padding: 10px; */
    position: relative;
    background-color: antiquewhite;
}
.level img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: block;
    /* z-index: -1; */
}
.membership-info {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    display: block;
    
    
}
.membership-info h3 {
    font-size: 1.5rem;
    font-weight: 700;
     letter-spacing: .2em;
}
.membership-info p {
    font-size: .9rem;
}
.membership .level:nth-child(2) .membership-info {
    /* Estilos para el primer h3 (Free) */
    background-color: rgba(217, 217, 217, 0.698);
}

.membership .level:nth-child(3) .membership-info {
    /* Estilos para el segundo h3 (Bronze) */
    background-color: #e58758cd;
}

.membership .level:nth-child(4) .membership-info {
    /* Estilos para el tercer h3 (Silver) */
    background-color: rgba(161, 156, 156, 0.79);
}

.membership .level:nth-child(5) .membership-info {
    /* Estilos para el cuarto h3 (Gold) */
    background-color: rgba(255, 217, 0, 0.681);
}
.wf1 fieldset {
    margin: 2rem 0;
    border-radius: 8px;
    border: 1px solid gray;
    padding: .5rem 2%;
}
.wf1 legend {
    color: blue;
    padding: 0 .5rem;
}
.wf1 label{
    display: block;
    /* margin: 1rem 0; */
    font-size: .9rem;
    padding: 2%;
}
.wf1 {
    width: 100%;
}
.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="number"],
.wf1 select {
        
    background-color:#eee;
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
    padding: .75rem;
    color: rgb(0, 0, 0);
    width: 100%;
    max-width: 400px;
    appearance: none;
}
.wf1 div {
    margin-left: 2%;
    margin-bottom: 1%;
}
textarea {
    resize: none; /* Desactiva el redimensionamiento */
    width: 96%; /* Ajusta el ancho al 100% del contenedor */
    max-width: 400px;
    margin: 0 2%;
    height: 150px; /* Establece una altura fija */
    background-color:#eee;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;


  }
  .wf1 input[type="submit"] {
    /* display: block; */
    width: 92%;
    max-width: 400px;
    margin: -1rem 4% 2rem 4%;
    padding: .5rem;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
}


/* Estilo cuando el input tiene contenido válido y está enfocado */
.wf1 input:required:valid:focus {
    border-left: 8px solid green;
}

/* Estilo cuando el input tiene contenido inválido y está enfocado */
.wf1 input:required:invalid:focus {
    border-left: 8px solid #e70000;
}
/* Estilo cuando el input tiene contenido válido y no está mostrando el placeholder */
.wf1 input:required:valid:not(:placeholder-shown):valid {
    border-left: 8px solid green;
}

/* Estilo cuando el input tiene contenido inválido y no está mostrando el placeholder */
.wf1 input:required:invalid:not(:placeholder-shown):valid {
    border-left: 8px solid #e70000;
}
.required {
    color: #e70000;
    margin-top: 50px;
    font-size: 1.5rem;
  }

  /* //////////////////////////////////////////////THANKYOU///////////////////////////////////////////////////////// */

  .thankyou {
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    height: 50vh;
  }
  .thankyou h1 {
    margin: 0.67em 0;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .thankyou p {
    text-align: center;
    margin: 0.67em auto;
    width: 80%;
    font-size: 1rem;
    font-weight: 300;

  }
  .thankyou hr {
    width: 90%;
    border: 1px solid gray;
  }
  .thankyou a {
    margin: 1.67em 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    border-radius: .2rem;
    padding: 10px;
    color: white;
    background-color: #007bff;
  }
  /* ////////////////////////////////////////////DIRECTORY//////////////////////////////////////////////// */


.directory-main h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  /* background-color: #007bff;    */
}
.view {
  display: flex;
  justify-content: flex-end;
}

.grid,
.list {
  margin: 5px;
  border:.1rem solid rgb(3 104 213) ;
  border-radius: .2rem;
}

.grid span,
.list span{
  display: block;
  color: rgb(3 104 213);
  /* height: 20px; */
  font-size: 2.2rem;
  font-weight: 100;
  cursor: pointer;
}

#directory {
    transition: all 0.5s ease;
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: auto;

    
}
#directory.list-active {
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}


#directory.list-active img {
    display: none;
}
.list-active .business {
    display: block;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
}

.list-active .business:nth-child(odd) {
    background-color: #EDFBFA;
}
.business {
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #007bff; */
    margin: 2%;
    padding: 10px;
    height: auto;
    box-shadow: 0px 10px 10px -8px rgba(0,0,0,0.75);
    border-radius: .2em;
}
.business img {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;
    /* object-fit: contain; */
}
.business:nth-child(1) img,
.business:nth-child(2) img,
.business:nth-child(4) img {
    width: 80%;
    height: auto;
    /* object-fit: contain; */
}
.list-active .textContent {
    margin-top: 0;
}

.textContent {
    margin-top: 20px;
    font-size: .9rem;
    font-weight: 300;
}
.pName {
    font-size: 1.5rem;
    font-weight: 350;
}
.aURL {
    text-decoration: none;
}
.aURL:visited {
    color: #025d02;
}
.aURL:hover {
    color: purple;
}
.mLevel {
    font-weight: 350;
}
.rating {
    font-weight: 350;
}