@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
/* Layout for large screens */
@media (min-width: 769px) {
    .grid-container {
        grid-template-columns: 2fr 1fr;
    }
    nav ul {
		display: flex;      
 
	}

	nav ul li {
		flex: 1 1 100%;
	}

    /* css for menu  */
    #myButton {
        display: none;
    }

    .week {
        flex-direction: row;
        
        
    }
    .week-link {
        display: flex;
    }
    .week-link a {
        display: flex;
        text-align: left;
    }
    .week-link a:hover {
        color: blue;
    }
}